body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Navbar */
body > nav {
  background: blue;
}

body > nav a {
  color: yellow;
}

body > nav > div > div.navbar-header > button > span {
  color: white;
  background: white;
}

/* Custome Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin:auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(21, 199, 194, 0.42);
}

.card .img-container {
  padding-top: 15px;
  text-align: center;
}

.card-container {
    padding: 20px 16px;
    margin: 20px 16px;
}
