<h1 class="header">New Certification</h1>
<p>You can use this form to add your certifications to your profile. Please fill in your certification title and a description for the certification.</p>
<p><em>All fields are required.</em></p>

<%= render 'form', certification: @certification %>

<%= link_to 'Back', certifications_path, id: "back-button" %>
