<h1 class="header">Edit Profile</h1>

<%= render 'form', profile: @profile,
                   projects: @projects,
                   sections:@sections,
                   employment: @employment,
                   education: @education,
                   certifications: @certifications,
                   customs: @customs %>
