<h1 class="header">New Section</h1>

<p>Please confirm the title of the Academy subject, a brief description of the subject, and the skills acquired.</p>

<%= render 'form', section: @section %>

<%= link_to 'Back', sections_path , id: "back-button"%>
