* {
  background-color: grey;
}

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: white;
}

.content {
  height: 100px;
  /* width: 100px; */
  background-color: yellow;
  margin: 5%;
}

#content1 {
  flex: 15%;
}

#content2 {
  flex: 75%;
}
