<h1 class="header">Editing Employment</h1>

<%= render 'form', employment: @employment %>

<%= link_to 'Show', @employment, id: "show-button" %> |
<%= link_to 'Back', employments_path, id: "back-button" %>
