<h1 class="header">New Employment</h1>

<p>Please enter details of all of your previous employments.</p>
<p><em>All fields are required.</em></p>

<%= render 'form', employment: @employment %>

<%= link_to 'Back', employments_path, id: "back-button" %>
