<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
      <a href="https://www.spartaglobal.com/"><img class="footer-logo" src="/img/sparta_logo.jpg" alt="Sparta Global Logo"></a>
      <a href="https://www.spartaglobal.com/">&copy; Sparta Global 2018</a>
    </div>
    <div class="col-xs-4">
      <div class="footnav">
        <a href="/profiles" id='footer-prfiles'>Profiles </a> |
        <a href="/projects" id='footer-projects'> Projects </a> |
        <a href="/employments" id='footer-employment'> Employment </a> |
        <a href="/educations" id='footer-education'> Education </a> |
        <a href="/certifications" id='footer-certifications'> Certifications </a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="ions">
        <a href="https://github.com/spartaglobal" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://en-gb.facebook.com/spartaglobal/" target="blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/company/sparta-global/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://twitter.com/spartaglobal?lang=en" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/spartaglobal/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
