<div class="">
  <ul>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/fruits">Fruits</a></li>
    <li><a href="/vegetables">Vegetables</a></li>
  </ul>

  <ul class="">
    <li><a href="/posts/new">Create a New Post</a></li>
    <li><a href="/fruits/new">Try a New Fruit</a></li>
    <li><a href="/vegetables/new">Try a New Vegetable</a></li>
  </ul>
</div>
