// Place all the styles related to the sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-family: sans-serif;
  color: blue;

  th {
    font-size: 20px;
  }
}
