<h1 class="header">New Custom</h1>
<p>You can add your custom sections using this form.</p>
<p>Please enter a title for the custom section, a heading, and the body of your section.</p>
<p><em>All fields are required.</em></p>

<%= render 'form', custom: @custom %>

<%= link_to 'Back', customs_path, id: 'back-button'%>
