<h1 class="header">New Project</h1>

<p>Please enter a title and description of your projects, including the main tasks and achievements of each project.</p>
<p><em>All fields are required.</em></p>
<br>
<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path , id: "back-button"%>
