<h1 class="header">Editing Education</h1>

<%= render 'form', education: @education %>

<%= link_to 'Show', @education, id: 'show-button' %> |
<%= link_to 'Back', educations_path, id: 'edit-button' %>
