<h1 class="header">New Education</h1>
<p>You can add your education history using this form. Fill in the name of your institution and your course title. Please select the start and end date.</p>
<p><em>All fields are required.</em></p>

<%= render 'form', education: @education %>

<%= link_to 'Back', educations_path, id: 'back-button' %>
